@font-face {
    font-family: sourcecodepro;
    src: url('fonts/SourceCodePro-Regular.ttf');
}
@font-face {
    font-family: sourcecodeprobold;
    src: url('fonts/SourceCodePro-Bold.ttf');
}

html,
body {
    position: absolute;
    padding: 0;
    margin: 0;
    width:100%;
    height:100%;
    background-color: black;
    overflow:hidden;

}

body {
    /*    font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;*/
    font-family: sourcecodepro;
    font-size: 12px;
}

pre {
    font-family: sourcecodepro;
}

#editor {
    position: absolute;
    padding: 0;
    margin: 0;
    width:100%;
    top: 0px;
    bottom: 25px;
    background-color: black;
}

#statusbar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    cursor: default;
    position: absolute;
    margin: 0px;
    width: 100%;
    height: 25px;
    left: 0px;
    bottom: 0px;
    background-color:#3760a9;
    color: white;
    padding: 0px 5px 0px 5px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#statusbar > table {
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    border-collapse: collapse;
    color: white;
    table-layout:fixed;
}

#showlog {
    width: 20px;
    padding-left:5px;
    font-size:15px;
}

#showlog > i{
    cursor: pointer;
}



#message {
    padding: 0px 5px 0px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#textpos {
    width: 75px;
    min-width:75px;
    text-align:center;
    border-left: 1px solid #2d0044;
    padding: 0px 5px 0px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#log {
    display:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    cursor: default;
    position: absolute;
    margin: 0px;
    width: 100%;
    height: 50%;
    left: 0px;
    bottom: 25px;
    background-color: rgba(35, 35, 35, 0.95);
    z-index: 100;
    color: #a4c5ff;
    box-sizing: border-box;
    font-size: 10px;
    overflow: auto;
    border: 1px solid #525252;;
    padding: 20px 5px 5px 5px;
}

#log > pre {
    white-space:normal;
    margin:4px;
}

#log > pre > h1 {
    font-size: 10px;
    display:inline;
    font-weight: normal;
    color: #00fdff;
}

#logButtons {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 20px;
    box-sizing:border-box;
    margin:0px;
    padding-left:10px;
}

#logButtons > .button {
    background-color: cornflowerblue;
    color:white;
    border: none;
    font-family: sourcecodeprobold;
    font-size:10px;
    margin: 5px 0px 5px 0px;
    cursor: pointer;
    border-radius: 4px;
    min-width:50px;
    outline:none;
}

#clearLogCmd:hover {
    background-color: #ff4949
}


.CodeMirror {
    font-family: sourcecodepro !important;
    height: 100% !important;
}

.CodeMirror-scrollbar-filler {
    background-color: #2f2f2f !important;
}

::-webkit-scrollbar-track
{
    border-radius: 0px;
    background-color: #2f2f2f;
}

::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
    background-color: #2f2f2f;
}

::-webkit-scrollbar-thumb
{
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.gut-info {
    width: 18px;
    box-sizing:border-box;
    margin-left: 0px;
    z-index: 5000 !important;
}

.gutter-error {
    color: #ff1313;
    font-size: 14px!important;
    line-height: 14px!important;
    padding: 0px;
    margin: 0px;
    z-index: 5000 !important;
    vertical-align:bottom;
}

.gutter-error > .tooltip {
    position: absolute;
    top: 20px;
    left: 25px;
    display: inline;
    background: rgba(255,0,0,0.9);
    color: #FFF;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    font-family: sourcecodepro;
    z-index: 5000 !important;
    white-space: nowrap;
}

.scrollbar-error-annotation {
    background: #ff0000;
    border-top: 1px solid #ff0000;
    border-bottom: 1px solid #ff0000;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: .5;
}

